<%- include('partials/header') %>


  <center>
      <div>
          <p>Profile Detail</p>
      </div>
<div>
    <table >
      <tr>
        <td>Name :</td>
        <td><%= name %></td>
      </tr>
      <tr>
        <td>Email :</td>
        <td><%= email %></td>
      </tr>
      <tr>
        <td>Date of Birth :</td>
        <td><%= dob %></td>
      </tr>
    </table>
<div ><a href="/logout">Logout</a></div>

  </center>
</div>





<%- include('partials/footer') %>
